[project]
name = "suika-game"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pygame>=2.6.1",
    "pymunk>=7.2.0",
]

[dependency-groups]
dev = [
    "ruff>=0.14.9",
]
